@()(implicit request: RequestHeader, flash: Flash)

@main("Message") {

    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="messageRoute" value="@routes.Messages.load">

    
    <input id="messageAuthor" value="default author"></input>
    <input id="messageMessage" value="default message"></input>

        <h3>New Author</h3>
        <input type="text" id="message-author"> 
        <br>
        <h3>New Message</h3>
        <input type="text" id="message-route">
        <br>
        <button type="submit" onclick="updateMessage()">Send</button>

        <!-- <script type="text/javascript" src="@routes.Assets.versioned("")"></script> -->

}