@()(implicit request: RequestHeader, flash: Flash)

@main("Play with Scala.js") {

  <h1>Relationships</h1>

  <ul id="userlist">

  </ul>

  <button id="countbutton" onclick="increment()">0</button>

  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
  <input type="hidden" id="usersRoute" value="@routes.Relationship.users()">

  <script src="@routes.Assets.versioned("javascript/relationship.js")"></script>
  <script type="text/javascript" src="client/target/scala-2.13/play-client-fastopt.js"></script>

    
}